.App {
  text-align: center;
  justify-content: center;
}

.Frame{
  width: 309px;
  height: 608px;
  border-radius: 24px;
  border: 5px solid #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #D9D9D9;
  justify-content: center;
  display: flex;
}

h1{
  display: flex;
  width: 279px;
  height: 69px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.underline1 {
  width: 245px;
  height: 3px;
  flex-shrink: 0;
  background: #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}



