body {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: space-around;  
 }
 p{
  color: #000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal; }
 #screen{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
 }

.App {
  text-align: center;
  justify-content: center;
  display: flex;
  width: 100%;
  background: gray;
}

.Frame {
  width: 309px;
  height: 608px;
  border-radius: 24px;
  border: 5px solid #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e6e4e1;
  transform-origin: center center;
  transform:scale(2);

 }

 @media only screen and (max-width: 1024px) {
  .Frame{
    transform:scale(1.8);
  }
 }
 @media only screen and (max-width: 820px) {
  .Frame{
    transform:scale(1.6);
  }
 }
 @media only screen and (max-width: 768px) {
  .Frame{
    transform:scale(1.5);
  }
 }

 @media only screen and (max-width: 430px) {
  .Frame{
    transform:scale(1.25);
  }
 }
 @media only screen and (max-width: 414px) {
  .Frame{
    transform:scale(1.2);
  }
 }
 @media only screen and (max-width: 390px) {
  .Frame{
    transform:scale(1.1);
  }
 }
 @media only screen and (max-width: 375px) {
  .Frame{
    transform:scale(0.9);
  }
 }
 @media only screen and (max-width: 280px) {
  .Frame{
    transform:scale(0.8);
  }
 }




 

h1{
  display: flex;
  width: 279px;
  height: 69px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

}



.back{
  width: 309px;
  height: 608px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #D9D9D9;
}

.sub{
  width: 88px;
  height: 36px;
  background: #D9D9D9;
}

.input {
  width: 263px;
  height: 34px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #F4F4F4;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 37px;
  border-width: 0px;
}
.input2 {
  width: 263px;
  height: 34px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #F4F4F4;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  border-width: 0px;
}

.input-textarea{
  width: 263px;
  height: 91px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #F4F4F4;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 47px;
  border-width: 0px;
}

.input-date-time{
  width: 116px;
  height: 34px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #F4F4F4;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  border-width: 0px;
}



.button {
  width: 105px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #677B98;
}

.right-button {
  display: flex;
  justify-content: right;
  margin-top: 20px;
}

.side-button{
  display: flex;

  justify-content: space-between;
  margin-top: 6px;  
}

.button-pre{
  width: 105px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 25px;
  background: #677B98;
}

.button-text {
  display: flex;
  width: 53px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.input-title {
  width: 100px;
  height: 26px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-left: 18px;
  color: #000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.input-title-time{
  width: 100px;
  height: 26px;
  flex-shrink: 0;
  margin-left: 18px;
  color: #000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-color: #D9D9D9;
  text-align: right;
  margin-right: 18px;

}




.underline-name {
  width: 43px;
  height: 3px;
  flex-shrink: 0;
  background: #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 18px;
  margin-bottom: 6px;
}
.underline-nachname {
  width: 78px;
  height: 3px;
  flex-shrink: 0;
  background: #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 18px;
  margin-bottom: 6px;
}
.underline-email {
  width: 46px;
  height: 3px;
  flex-shrink: 0;
  background: #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 18px;
  margin-bottom: 6px;
}
.underline-tele {
  width: 115px;
  height: 3px;
  flex-shrink: 0;
  background: #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-left: 18px;
  margin-bottom: 6px;
}
.underline-title {
  width: 214px;
  height: 3px;
  flex-shrink: 0;
  background: #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 6px;
  margin-left: 29px;


}
.underline-date {
  width: 46px;
  height: 3px;
  flex-shrink: 0;
  background: #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 6px;
}
.underline-time {
  width: 46px;
  height: 3px;
  flex-shrink: 0;
  background: #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 6px;
}
.underline-mahlzeit {
  width: 63px;
  height: 3px;
  flex-shrink: 0;
  background: #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 6px;
  margin-left: 18px;

}
.underline-message {
  width: 183px;
  height: 3px;
  flex-shrink: 0;
  background: #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 6px;
  margin-left: 18px;

}
.underline-anper {
  width: 140px;
  height: 3px;
  flex-shrink: 0;
  background: #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 6px;
  margin-left: 18px;
}

h2{
  color: #000;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  
}

.title-tisch {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.page {
  display: flex;
  justify-content: center;
  margin-top:17px;
  
}


.subtract{
  background: #e6e4e1;
  display: flex;
  justify-content: center;
  width: 80px;
  height: 7px;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 607px;
  margin-top: -1px;
}
.subtract2{
  background: #e6e4e1;
  display: flex;
  justify-content: center;
  width: 80px;
  height: 7px;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 607px;
  margin-top: -1px;
}

.date-time {
  display: flex;
  justify-content: space-between;
}
.date-time-input{
  display: flex;
  justify-content: space-between;
}

.underline-fix{
  display: flex;
  justify-content: right;
}

